body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

footer {
  height: 24mm;
  display: flex;
  align-items: center;
  padding: 0 2mm;
  background: #333;
  color: white;
}

.text-box {
  margin-left: auto;
}

.text-box input {
  font-size: 8mm;
  width: 24mm;
  padding: 2mm;
  text-align: center;
  border-radius: 4mm;
}

.track-bar {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex: 1;
}

.track-bar input[type="range"] {
  width: 100%;
  cursor: pointer;
  margin: 4mm;
}

/* .track-bar input[type="range"]::-webkit-slider-thumb { */
/*   width: 4mm; */
/*   height: 4mm; */
/*   -webkit-appearance: none; */
/* } */

#play-pause-btn {
  width: 16mm;
  height: 16mm;
  font-size: 8mm;
  background: #888;
  color: white;
  border: none;
  border-radius: 4mm;
  cursor: pointer;
}

#play-pause-btn:hover {
  background: #666;
}

.ubobject {
  position: absolute;
  font-family: "Verdana";
  font-weight: bold;
  padding-left: 2mm;
  padding-right: 2mm;
  font-size: 2.8mm;
}

.run {
  color: red;
}

.carFL {
  background-color: orange;
  color: white;
}

.carKD {
  background-color: blue;
  color: white;
}

.carPL {
  background-color: green;
  color: white;
}

.carSS {
  background-color: grey;
  color: white;
}

.train {
  background-color: black;
  color: white;
}
