body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

footer {
  height: 4em;
  display: flex;
  align-items: center;
  padding: 0 1em;
  background: #333;
  color: white;
}

.text-box {
  margin-left: auto;
}

.track-bar {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex: 1;
}

.track-bar input[type="range"] {
  width: 100%;
}

.ubobject {
  position: absolute;
  font-family: "Verdana";
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

.run {
  color: red;
}

.carFL {
  background-color: orange;
  color: white;
}

.carKD {
  background-color: blue;
  color: white;
}

.carPL {
  background-color: green;
  color: white;
}

.carSS {
  background-color: grey;
  color: white;
}

.train {
  border: 2px solid black;
}
